<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Emergency Disaster Management</title>

    <!-- Bootstrap Core CSS -->
    <!-- <link href="css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <!-- <link href="css/vendor/metisMenu/metisMenu.min.css" rel="stylesheet"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.4/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <!-- <link href="css/css/sb-admin-2.css" rel="stylesheet"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/3.3.7+1/css/sb-admin-2.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <!-- jquery script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- cdn for ajax -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Custom Fonts -->
    <!-- <link href="css/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- new set of links -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.16/pagination/ellipses.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css"></script>
    <!-- <script src="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"></script> -->


</head>

<body>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Emergency Disaster Management</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

                <!-- /.dropdown-alerts -->
                <!-- </li> -->
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <!-- <li><a href="#"><i class="fa fa-user fa-fw"></i> UserName</a>
                        </li> -->
                        <!-- <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                                </li> -->
                        <li class="divider"></li>
                        <li>
                            <a href="/">
                                <i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>

            <!-- <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                        <li>
                            
                        <a href="/eocdashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-list-alt"></i> View Disasters</a>
                        </li>
                        <li>
                            <a href="/registeradisaster"><i class="glyphicon glyphicon-plus"></i>Add A Disaster</a>
                        </li>

                    </ul>
                </div>
               
            </div> -->
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                        <div align="center">
                                <img src="http://empowerla.org/wp-content/uploads/2013/12/CERT-1.jpg" width="900" height="300">
                        </div>
                </div>
                <div class="row">
                    <!-- <div class="col-lg-12">
                        <h3 style=text-align:center>CERT DETAILS</h3>
                    </div> -->
                    <!-- <%= certidis %> -->

                        <p id="idofcertperson" hidden>
                            <%= certidis %>
                        </p>

                        <!-- <hr> -->
                        <!-- <form id="certpersondetails">

                            First name:sam
                            <br> Last name:smithe
                            <br> Location from: horizons west apartments, maryville, mo 64468
                            <br> Certifications:fireman
                            <br> Date of Birth:3/2/1990
                            <br> Contact Number:3853667254
                            <br> Address:511 west 3rd street, maryville, mo 64468
                            <br>

                            <div class="col-xs-10" align="center" style="margin-left: auto;
                            margin-right: auto;
                            max-width: 1000px;
                            float: none;">

                            </div>

                        </form>
                        <hr> -->
                        <!-- <div class="container">
                            <div class="container-fluid"> -->
                                <form>
                                    <br>
                                    <div id="fordynamicdisplay">
        
                                    </div>
                                </form>
                            <!-- </div>
                        </div> -->
                       
                        


                        <script>
                            $("#idsonaccepted").ready(function () {

                                var certpersonid = document.getElementById("idofcertperson").innerHTML;
                                certpersonid = certpersonid.trim();
                                console.log('before ajax call', certpersonid);
                                $.ajax({
                                    url: 'https://api.mlab.com/api/1/databases/cert/collections/my-coll1/' +
                                        certpersonid + '?apiKey=F4GTF2uFESKCFCx7q87ZtFmrhtL-A1-j',
                                    method: 'get',
                                    dataType: 'json',
                                    success: function (data1) {
                                        console.log('ajax call being successful');
                                        console.log(data1);
                                        console.log('first name is ', data1.firstName);
                                        var stringtoappend = "<b><label>First name:</label></b>" + data1.firstName + "<br><b><label>Last name:</label></b>" +
                                            data1.lastName + "<br><b><label>Location from: </label></b>" + data1.city + "<br><b><label>Certifications: </label></b>" +  +
                                            "<br><b><label>Date of Birth: </label></b>" + "" + "<br><b><label>Contact Number: </label></b>" + data1.contact +
                                            "<br><b><label>Address: </label></b>" + data1.address ;
                                        var elementstore=document.getElementById("fordynamicdisplay");
                                        elementstore.innerHTML=stringtoappend;
                                    }

                                })

                            });
                        </script>


                        <!-- Bootstrap Core JavaScript -->
                        <!-- <script src="vendor/bootstrap/js/bootstrap.min.js"></script> -->
                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

                        <!-- Metis Menu Plugin JavaScript -->
                        <!-- <script src="vendor/metisMenu/metisMenu.min.js"></script> -->
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.4/metisMenu.min.js"></script>


                        <!-- Custom Theme JavaScript -->
                        <!-- <script src="css/css/sb-admin-2.js"></script> -->
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/3.3.7+1/js/sb-admin-2.js"></script>

                        <script type=text/javascript src="datatable/dtable.js"></script>


                        <!-- end of table -->



                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->

        <!-- end of body content -->





    </div>
    <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

    </div>


</body>

</html>