<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Emergency Disaster Management</title>

    <!-- Bootstrap Core CSS -->
    <!-- <link href="css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <!-- <link href="css/vendor/metisMenu/metisMenu.min.css" rel="stylesheet"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.4/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <!-- <link href="css/css/sb-admin-2.css" rel="stylesheet"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/3.3.7+1/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <!-- <link href="css/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- new set of links -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script> -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body onload="initialize()">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/eocdashboard">Emergency Disaster Management</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-user fa-fw"></i>
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">
                                                <i class="fa fa-user fa-fw"></i> UserName</a>
                        </li>
                        <!-- <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                                                </li> -->
                        <li class="divider"></li>
                        <li>
                            <a href="/login">
                                                <i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->


            <!-- end of top navigation -->
            
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">


                        <li>

                            <a href="/eocdashboard">
                                <i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>

                        </li>

                        <li>
                            <a href="/viewalldisasters">
                                <i class="glyphicon glyphicon-list-alt"></i> View Disasters</a>
                        </li>

                        <li>
                            <a href="/registeradisaster">
                                <i class="glyphicon glyphicon-plus"></i>Add disaster</a>
                        </li>
                        <li>
                            <a href="/generatereports">Generate Reports</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>

            <!-- Page Content -->
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
        <p id="firebasedisastername" hidden>
            <%= docs.disastername %>
        </p>
        <p id="numberofimages" hidden>
            <%= docs.numberofimages %>
        </p>

        <h3 style="text-transform: uppercase;text-align:center">Details of
            <%= docs.disastername %>
        </h3>
        </br>
        <div style="text-align:center; background-color:#49E949; color:black">
            <%= messagefromdb %>
        </div>
        <!-- start of left part of the page content division -->
        </br>
        <div class="col-xs-8">
            <% var lat=docs.latitude; %>
                <%  var long=docs.longitude; %>
                    <% var address=docs.disasteraddress; %>
                        <% var disastercity=docs.disastercity; %>

                            <div class="container">

                                <div>
                                    <div id="displayingdetails">

                                        <!-- <form method="get" action="/editdisaster_<%= docs.disastername %>"> -->
                                        <b>Disaster Name : </b>
                                        <span id="disasternameforreference">
                                            <%= docs.disastername %>
                                        </span>
                                        <br>
                                        <b>Disaster Type : </b>
                                        <%= docs.disasterdropdown %>
                                            <br>
                                            <b>Contact Person : </b>
                                            <%= docs.contactperson %>
                                                <br>
                                                <b>Disaster Location : </b>
                                                <%= docs.disasteraddress %>
                                                    <br>
                                                    <!-- <b>Disaster Latitude : </b>
                                                    <%= docs.latitude %>
                                                        <br>
                                                        <b>Disaster Longitude : </b>
                                                        <%= docs.longitude %>
                                                            <br> -->
                                                    <b>Disaster Date and Time : </b>
                                                    <span id="disasterdatendtimeforref">
                                                                <%= docs.dateandtime %>
                                                            </span>

                                    </div>
                                    <span id="disasterId">
                                        <%=docs.id; %>
                                    </span>
                                    <br>
                                    <button id="change" class="btn btn-warning">Edit this disaster</button>


                                    <div id="editadisaster">
                                        <!-- start of form for editing a disaster -->
                                        <form method="post" id="formtoeditadisaster" name="formtoeditadisaster" action="/editadisaster/<%= docs.disastername %>/<%= docs.dateandtime %>">
                                            <div class="col-xs-12">

                                                <div class="col-xs-4">
                                                    <label class="col-xs-8">Disaster Name</label>
                                                    <br>
                                                    <!-- <input class="form-control col-xs-6" type="text" name="disastername" class="form-control" id="disastername" placeholder="name of the disaster"> -->
                                                    <h4>
                                                        <i class="col-xs-10" style="text-transform: uppercase;">
                                                            <b>
                                                                <%= docs.disastername %>
                                                            </b>
                                                        </i>
                                                    </h4>
                                                </div>
                                                &nbsp &nbsp&nbsp&nbsp&nbsp
                                                <div class="col-xs-4">
                                                    <label class="col-xs-8">Disaster Date and Time: </label>
                                                    <h4>
                                                        <i class="col-xs-10" style="text-transform: uppercase;">
                                                            <b>
                                                                <%= docs.dateandtime %>
                                                            </b>
                                                        </i>
                                                    </h4>
                                                </div>


                                            </div>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <div class="col-xs-12">
                                                <div class="col-xs-4">
                                                    <label class="col-xs-8">Disaster Type: </label>
                                                    <input class="form-control col-xs-6" type="text" value="<%= docs.disasterdropdown %>" name="disasterdropdown" class="form-control"
                                                        id="disasterdropdown" placeholder="type of the disaster">
                                                </div>
                                                &nbsp &nbsp&nbsp&nbsp&nbsp
                                                <!-- <div class="col-xs-4">
                                                <label class="col-xs-8">Disaster Name</label><br>
                                               <input class="form-control col-xs-6" type="text" name="disastername" class="form-control" id="disastername" placeholder="name of the disaster"> 
                                               <h4><i class="col-xs-10" style="text-transform: uppercase;"><b> <%= docs.disastername %></b></i></h4>
                                            </div> -->
                                                <div class="col-xs-4">
                                                    <label class="col-xs-8">Responsible Person</label>
                                                    <input class="form-control col-xs-6" value="<%= docs.contactperson %>" type="text" name="contactperson" class="form-control"
                                                        id="contactperson" placeholder="Responsible Person">
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <div class="col-xs-12">

                                                <div class="col-xs-4">
                                                    <label class="col-xs-8">Detailed Address:</label>
                                                    <input class="form-control col-xs-6" type="text" value="<%= docs.disasteraddress %>" name="disasteraddress" class="form-control"
                                                        id="disastername" placeholder="detailed address of the disaster">
                                                </div>
                                                &nbsp &nbsp&nbsp&nbsp&nbsp
                                                <div class="col-xs-4">
                                                    <label class="col-xs-8">City</label>
                                                    <input class="form-control col-xs-6" type="text" value="<%= docs.disastercity %>" name="disastercity" class="form-control"
                                                        id="disastercity" placeholder="City of the disaster">
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <div class="col-xs-12">

                                                <div class="col-xs-4">
                                                    <label class="col-xs-8">State</label>
                                                    <input class="form-control col-xs-6" type="text" name="state" value="<%= docs.state %>" class="form-control" id="state" placeholder="State of the disaster location">
                                                </div>
                                                &nbsp &nbsp&nbsp&nbsp&nbsp
                                                <div class="col-xs-4">
                                                    <label class="col-xs-8">ZipCode</label>
                                                    <input class="form-control col-xs-6" type="text" name="zip" value="<%= docs.zipcode %>" class="form-control" id="zip" placeholder="ZipCode of the disaster location">
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                            <br>
                                            <!-- <br>

                                            <br>
                                            <br>
                                            <br> -->

                                            <div class="form-group col-xs-2" align="center">
                                                <br>
                                                <br>
                                                <!-- <label>Click to submit </label> -->
                                                <!-- <button style=text-align:center;margin:auto type="submit" class="btn  btn-success">Update</button> -->
                                                <input type="button" class="btn btn-warning" onclick="confirmtoupdate()" value="Update">
                                            </div>
                                            <script>
                                                // formtoeditadisaster - formid
                                                function confirmtoupdate() {
                                                    var res = window.confirm('Do you really want to make changes?')
                                                    if (res === true) {
                                                        document.getElementById("formtoeditadisaster").submit();
                                                        window.alert('Update has been made successful');
                                                    }
                                                }
                                            </script>
                                        </form>
                                        <!-- start of form for editing a disaster -->
                                    </div>
                                </div>
                                <br>
                                <br>
                                <!-- refresh map -->


                                <br>
                                <!-- here goes the images -->

                                <!-- <p id="sample"></p> -->
                                <h3>
                                    <b>
                                                    <u>IMAGES FOR THE DISASTER</u>
                                                </b>
                                </h3>
                                <!-- <div class="container-fluid"> -->
                                <!-- <MARQUEE WIDTH=750 HEIGHT=200> -->
                                <!-- <MARQUEE> -->
                                <!-- <img width="200" height="200" id="imagesfromfirebase"></img>
                                        <img width="200" height="200" id="imagesfromfirebasetwo"></img>
                                        <img width="200" height="200" id="imagesfromfirebasethree"></img>
                                                <img width="200" height="200" id="imagesfromfirebasefour"></img>
                                                </br>
                                        <img width="200" height="200" id="imagesfromfirebasefive"></img>
                                        <img width="200" height="200" id="imagesfromfirebasesix"></img>
                                        <img width="200" height="200" id="imagesfromfirebaseseven"></img>
                                                <img width="200" height="200" id="imagesfromfirebaseeight"></img> -->
                                <!-- </MARQUEE> -->
                                <!-- </div> -->
                                <div class="container-fluid">
                                    <p id="imagesfromfirebase"></p>


                                </div>
                                <br>
                                <div>
                                    <div>
                                        <button style=text-align:center;margin:auto onclick="initialize()" type="submit" class="btn btn-xs btn-success">Refresh Map</button>
                                    </div>
                                    <br>
                                    <div class="col-lg-7" id="googleMap" style="width:50;height:400px;text-align:center"></div>
                                </div>
                                <!-- below div is the end of container -->
                            </div>
        </div>

        <!-- end of the left part of the page content div -->


        <!-- start of the right content of the page div -->
        <div class="col-xs-4">
            <h4 align="center">
                <u>Grouping CERT</u>
            </h4>
            <!-- here comes the grouping functionality -->
            <!-- <br>
            <br> -->
            <a href="#">Broadcast</a>
            <!-- <br> -->
            <br>
            <a href='/getacceptedid/<%= docs.disastername %>'>Get Accepted Id/ Refresh new Entries</a>
            <br>
            <!-- To delete this line: <%= docs.contactperson  %><br> -->
            Accepted Id Obtained:
            <br>
            <!-- <form method="post" action="/approveacceptedid"> -->
            <!-- <form> -->
            <!-- <div style="height:200px;width:400px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;"> -->
            <p>
                <!-- <%=  docs.approved_id %> -->
            </p>
            <div id="idsonaccepted" style="height:200px;width:400px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">

                <!-- <div id="acceptedid"> -->
                <div id="displayacceptedid">

                </div>

            </div>

            <% var thisdisastername=docs.disastername; %>
                <% var certjsondata; %>
                    <script>
                        var acceptedIds = [];
                        $("#idsonaccepted").ready(function () {


                            $("#disasterId").hide();
                            var disasterid = document.getElementById("disasterId").innerHTML;
                            disasterid = disasterid.trim();

                            var pushobtainedids = document.getElementById("displayacceptedid").innerHTML;
                            var certPerson = {
                                fNmae: String,
                                certId: String
                            };
                            var urlstring =
                                'https://api.mlab.com/api/1/databases/edm/collections/disasterschemas/' +
                                disasterid + '?apiKey=tByRp1k2UXsjQZlu1yQVGEOEsYGKu_7r';

                            var obtainedacceptedids = "";
                            var aIds;
                            $.ajax({
                                url: 'https://api.mlab.com/api/1/databases/edm/collections/disasterschemas/' +
                                disasterid + '?apiKey=tByRp1k2UXsjQZlu1yQVGEOEsYGKu_7r',
                                method: 'get',
                                dataType: 'json',
                                success: function (data) {
                                    // var reqBody = JSON.parse(data);
                                    aIds = data.accepted_id;
                                    //    var obtainedacceptedids="<li>";

                                    for (var diss = 0; diss < aIds.length; diss++) {
                                        var currentid = aIds[diss];
                                        // obtainedacceptedids+='<input type="checkbox">'+ aIds[diss] +'</input></br>';
                                        $.ajax({
                                            url: 'https://api.mlab.com/api/1/databases/cert/collections/my-coll1/' +
                                            aIds[diss] +
                                            '?apiKey=F4GTF2uFESKCFCx7q87ZtFmrhtL-A1-j',
                                            method: 'get',
                                            dataType: 'json',
                                            success: function (data1) {
                                                // var reqBody = JSON.parse(data);
                                                console.log(
                                                    'cert persons firstname is ',
                                                    data1.firstName);
                                                certPerson = {
                                                    fNmae: data1.firstName,
                                                    certId: aIds[diss]
                                                };

                                                certjsondata = certPerson;

                                                if (data1.firstName) {
                                                    // obtainedacceptedids += '<input type="checkbox" class="getvalue" value="' + data1.firstName + ',' + currentid + '">' + data1.firstName + '</input></br>';
                                                    obtainedacceptedids +=
                                                        '<input type="checkbox" class="getvalue" value="' +
                                                        data1.firstName + ',' +
                                                        currentid + '">' +
                                                        '<a target=_blank href=/certpersondetails/' +
                                                        currentid + '>' + data1
                                                            .firstName +
                                                        '</a>' +
                                                        '</input></br>';
                                                } else {
                                                    obtainedacceptedids +=
                                                        '<input type="checkbox" class="getvalue" href=/' +
                                                        currentid + ' value="' +
                                                        data1.firstName +
                                                        ',' + currentid + '">' +
                                                        '<a target=_blank href=/certpersondetails/' +
                                                        currentid + '>' + data1
                                                            .firstName +
                                                        '</a>' +
                                                        '</input></br>';
                                                }
                                                console.log(
                                                    'obtainedacceptedids are ',
                                                    obtainedacceptedids);
                                                document.getElementById(
                                                    "displayacceptedid").innerHTML =
                                                    obtainedacceptedids;
                                                // pushobtainedids = obtainedacceptedids;

                                            }

                                        })


                                    }
                                }

                            })

                        })
                    </script>
                    </br>
                    <button class="btn btn-success" onclick='sendapprovedids()'>Approve</button></br></br>
                    
                    <div id="slotforapprovedids" style="height:100px;width:400px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
                        Approved members:
                        <p id="approvedidptagtohide">
                            <%= docs.approved_id %>
                        </p>
                        <div id="certapprovedids">

                            <!-- <% for(var man=0;man<docs.approved_id.length; man++){ %>
                                <li>
                                    <%= docs.approved_id[man] %>
                                </li>
                                <% } %> -->
                        </div>

                    </div>
                    <script>
                        $("#slotforapprovedids").ready(function () {
                            // console.log('Yupieeeeeeeeeee');
                            $("#approvedidptagtohide").hide();
                            var approvedidsarray = document.getElementById('approvedidptagtohide').innerHTML;
                            approvedidsarray = approvedidsarray.trim();
                            // console.log('Hey you go i am printing approvedid', approvedidsarray);
                            var splitofapprovedidsarr = approvedidsarray.split(',');
                            var certPersonProfile = {
                                fNmae: String,
                                certId: String
                            };
                            var obtainedapproved = "";
                            for (var hey = 0; hey < splitofapprovedidsarr.length; hey++) {
                                $.ajax({
                                    url: 'https://api.mlab.com/api/1/databases/cert/collections/my-coll1/' +
                                    splitofapprovedidsarr[hey] +
                                    '?apiKey=F4GTF2uFESKCFCx7q87ZtFmrhtL-A1-j',
                                    method: 'get',
                                    dataType: 'json',
                                    success: function (data1) {
                                        // var reqBody = JSON.parse(data);
                                        // console.log('approved ids slot firstname is ',
                                        // data1.firstName);
                                        certPersonProfile = {
                                            fNmae: data1.firstName,
                                            certId: splitofapprovedidsarr[hey]
                                        };
                                        // console.log('in approvedids cert person profile is',
                                        //     data1.firstName);

                                        certjsondata = certPersonProfile;

                                        if (data1.firstName) {

                                            obtainedapproved += '<li>' + data1.firstName +
                                                '</li>';
                                        } else {

                                            obtainedapproved += '<li>' + data1.firstName +
                                                '</li>';
                                        }
                                        // console.log('approved is over here are ',
                                        //     obtainedapproved);
                                        //    document.getElementById("acceptedid").innerHTML=data.accepted_id;
                                        document.getElementById("certapprovedids").innerHTML =
                                            obtainedapproved;

                                    }

                                })
                            }
                            // console.log('i am printing obtained approved ids here as follows',
                            //     obtainedapproved)
                            // document.getElementById("certapprovedids").innerHTML = obtainedapproved;

                        });
                    </script>
                    <script>
                        function sendapprovedids() {
                            var checkedValue = null;
                            var checkedarray = [];
                            var checkedarray1 = [];
                            var disasternameforref = document.getElementById('disasternameforreference').innerHTML;
                            disasternameforref = disasternameforref.trim();
                            var disasterdateandtimeforref = document.getElementById('disasterdatendtimeforref')
                                .innerHTML;
                            disasterdateandtimeforref = disasterdateandtimeforref.trim();
                            var inputElements = document.getElementsByClassName('getvalue');
                            var approvedids = "";
                            for (var i = 0; inputElements[i]; ++i) {
                                if (inputElements[i].checked) {
                                    // checkedValue = inputElements[i].value;
                                    // console.log(inputElements[i].value);
                                    console.log('You have checked Mr.', inputElements[i].value);
                                    var certpersonsplit = inputElements[i].value.split(",");
                                    console.log('on checking ids cert person split is ', certpersonsplit[1]);
                                    checkedarray.push(certpersonsplit[1]);
                                }
                            }
                            console.log('checked array is : ', checkedarray);

                            // for (var no = 0; no < checkedarray.length; no++) {
                            //     approvedids += '<li>' + checkedarray[no] + '</li>';

                            //     document.getElementById("approvedid").innerHTML = approvedids;

                            // }


                            //  console.log('it is ',disasterdateandtimeforref);

                            window.location = "/approveacceptedid/" + disasternameforref + "/" +
                                disasterdateandtimeforref + "/" + checkedarray;
                        }
                    </script>
                    <h4 id="result"></h4>





        </div>
        <!-- <div class="col-xs-4">
        here comes the chat functionality
           
            <script id="cid0020000178195512802" data-cfasync="false" async src="https://st.chatango.com/js/gz/emb.js" style="width: 100%;height: 100%;">
                { "handle": "edmtwo", "arch": "js", "styles": { "a": "99cc33", "b": 100, "c": "000000", "d": "000000", "k": "99cc33", "l": "99cc33", "m": "99cc33", "p": "11.25", "q": "99cc33", "r": 100, "usricon": 0.82, "cnrs": "1" } }
            </script>
        </div> -->
        <!-- end of the right content of the page div

        <!-- <iframe width="100%">
                 <div id="googleMap" style="width:400px;height:400px;text-align:center"></div>
                <div id="googleMap" style="width:400px;height:400px;text-align:center"></div>
                </iframe> -->
        <!-- jQuery -->
        <script src="vendor/jquery/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="vendor/metisMenu/metisMenu.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="css/css/sb-admin-2.js"></script>


        <!-- end of table -->



    </div>
    <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
</div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="css/css/sb-admin-2.js"></script>

    <!-- js for disastermdoeldisplay -->
    <script src="js/displaydisaster.js"></script>
    <!-- javascript of access and post ids -->
    <script src="js/accessandapproveid.js"></script>

    <script>
                        $(document).ready(function () {
                            $("#editadisaster").hide();
                            $("#change").click(function () {
                                $("#displayingdetails").hide();
                                $("#editadisaster").show();
                                $("#change").hide();
                            });
                        });
    </script>


    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzkUTQP9PT1i91WT0ZWo1QyvXlxTMihRQ&libraries=places&sensor=false"></script>
    <!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> -->
    <script type="text/javascript">
        var geocoder;
        var map;

        var address = JSON.parse('<%- JSON.stringify(address)%>');

        // var address;
        function initialize() {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(-34.397, 150.644);
            var myOptions = {
                zoom: 17,
                center: latlng,
                mapTypeControl: true,
                mapTypeControlOptions: {
                    style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                },
                navigationControl: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("googleMap"), myOptions);
            if (geocoder) {
                geocoder.geocode({
                    'address': address
                }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
                            map.setCenter(results[0].geometry.location);

                            var infowindow = new google.maps.InfoWindow({
                                content: '<b>' + address + '</b>',
                                size: new google.maps.Size(150, 50)
                            });

                            var marker = new google.maps.Marker({
                                position: results[0].geometry.location,
                                map: map,
                                title: address
                            });
                            google.maps.event.addListener(marker, 'click', function () {
                                infowindow.open(map, marker);
                            });

                        } else {
                            alert("No results found");
                        }
                    } else {
                        alert("Geocode was not successful for the following reason: " + status);
                    }
                });
            }
        }
    </script>

    <!-- work for firebase starts -->
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>

    <script>

    </script>

    <!-- code for firebase from dash db -->

    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyAusXMFbINXwAc29P11N-dY9NMratpE4M0",
            authDomain: "edm-gdp.firebaseapp.com",
            databaseURL: "https://edm-gdp.firebaseio.com",
            projectId: "edm-gdp",
            storageBucket: "gs://edm-gdp.appspot.com/",
            messagingSenderId: "700482315333"
        }
        var imageContentToDisp = "";
        firebase.initializeApp(config);
        var storage = firebase.storage();

        var disaname = document.getElementById("firebasedisastername").innerHTML;
        var numberofimages = document.getElementById("numberofimages").innerHTML;
        numberofimages = parseInt(numberofimages);
        disaname = disaname.trim();

        for (let img = 0; img < numberofimages; img++) {
            // for (let img = 10; img < 12; img++) {
            let imageref = storage.ref('images/pictures/' + disaname + img + ".png");
            console.log('before firebase image name is ', disaname + 2);
            imageref.getDownloadURL().then(function (url) {
                // console.log('i have just found the url for the image', url);
                // console.log(url);
                urlfromfirebase = url;
                // document.getElementById("imagesfromfirebase").src = url;
                // console.log(url);
                if (img % 2 == 0) {
                    imageContentToDisp = imageContentToDisp + "<img width='200' height='200' src=" + urlfromfirebase + "></img> +<br><br>";
                } else {
                    imageContentToDisp = imageContentToDisp + "<img width='200' height='200' src=" + urlfromfirebase + "></img> ";
                }
                // console.log('Content for populating images on the page', imageContentToDisp);
                document.getElementById("imagesfromfirebase").innerHTML = imageContentToDisp;
            });
            // console.log(numberofimages, img);
        }
            // console.log('Content for populating images on the page', imageContentToDisp);
            // document.getElementById("imagesfromfirebase").innerHTML=imageContentToDisp;

        for (let img = 0; img < numberofimages; img++) {
            // for (let img = 10; img < 12; img++) {
            let imageref = storage.ref('images/pictures/' + disaname + img + ".png");
            console.log('before firebase image name is ', disaname + 2);
            imageref.getDownloadURL().then(function (url) {
                // console.log('i have just found the url for the image', url);
                // console.log(url);
                urlfromfirebase = url;
                // document.getElementById("imagesfromfirebase").src = url;
                // console.log(url);
                if (img % 4 == 0) {
                    imageContentToDisp = imageContentToDisp + "<img width='200' height='200' src=" +
                        urlfromfirebase + "></img> +<br><br>";
                } else {
                    imageContentToDisp = imageContentToDisp + "<img width='200' height='200' src=" +
                        urlfromfirebase + "></img> ";
                }
                // console.log('Content for populating images on the page', imageContentToDisp);
                document.getElementById("imagesfromfirebase").innerHTML = imageContentToDisp;
            });
            // console.log(numberofimages, img);
        }
        // console.log('Content for populating images on the page', imageContentToDisp);
        // document.getElementById("imagesfromfirebase").innerHTML=imageContentToDisp;

        // for (var img = 0; img < numberofimages; img++) {
        //     var imageref = storage.ref('images/pictures/'+disaname + 2+".png");
        //     console.log('before firebase image name is ', disaname+2);
        //     imageref.getDownloadURL().then(function (url) {
        //         console.log('i have just found the url for the image', url);
        //         // console.log(url);
        //         urlfromfirebase = url;
        //         // document.getElementById("imagesfromfirebase").src = url;
        //         // console.log(url);
        //         imageContentToDisp=imageContentToDisp+"<img width='200' height='200' src="+urlfromfirebase+"></img>";
        //     });
        // }
        // setTimeout(5000);
        // console.log('Content for populating images on the page', imageContentToDisp);
        // document.getElementById("imagesfromfirebase").innerHTML=imageContentToDisp;
        // var images;
    </script>
    <!-- end of code to query firebase dash db -->

    <!-- <script>
        document.getElementById("sample").innerHTML = "Hello Firebase!!";
    </script> -->
    <!-- work for firebase ends -->

    <script>
            var htmlcontent = "";
    </script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDucSpoWkWGH6n05GpjFLorktAzT1CuEc&callback=YOUR.NAMESPACE.initMap" async defer></script> -->
    <!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> -->
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" type="text/javascript"></script> -->

    <!-- end of gopi's code for maps -->




    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxccBB0TmDrsakSYSgz3Yx6ZG5WjC9BPY&callback=initMap"> -->

    </script>

</body>

</html>