<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Emergency Disaster Management</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="css/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- new set of links -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>

    <link rel="stylesheet" href="jquery.simplyscroll.css" media="all" type="text/css">

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/eocdashboard">Emergency Disaster Management</a>
            </div>
            <!-- <ul class="nav navbar-top-links navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                            </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> UserName</a>
                        </li>
                        <!-- <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                                </li> -->

            <!-- /.dropdown -->
            <!-- </ul> -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                            </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>Mail 1</strong>
                                    <span class="pull-right text-muted">
                                                <em>Yesterday</em>
                                            </span>
                                </div>
                                <div>Content Of Mail 1</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>Mail 2</strong>
                                    <span class="pull-right text-muted">
                                                <em>Yesterday</em>
                                            </span>
                                </div>
                                <div>Content of Mail 2</div>
                            </a>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <a class="text-center" href="#">
                                        <strong>Read All Messages</strong>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                        </li>
                    </ul>
                     /.dropdown-messages -->
                <!-- </li>  -->
                <!-- /.dropdown -->
                <!-- <li class="dropdown"> -->
                <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                            </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Disaster 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                            style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Disaster 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Disaster 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                            style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Disaster 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                            style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                        <strong>See All Tasks</strong>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                        </li>
                    </ul> -->
                <!-- /.dropdown-tasks -->
                <!-- </li> -->
                <!-- /.dropdown -->
                <!-- <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                            </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                       
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                        <strong>See All Alerts</strong>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                        </li>
                    </ul>
                    /.dropdown-alerts -->
                <!-- </li> -->
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">
                                <i class="fa fa-user fa-fw"></i> UserName</a>
                        </li>
                        <!-- <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                                </li> -->
                        <li class="divider"></li>
                        <li>
                            <a href="/login">
                                <i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>

                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- end of top navigation -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">


                        <li>

                            <a href="/eocdashboard">
                                <i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>

                        </li>

                        <li>
                            <a href="/viewalldisasters">
                                <i class="glyphicon glyphicon-list-alt"></i> View Disasters</a>
                        </li>

                        <li>
                            <a href="/registeradisaster">
                                <i class="glyphicon glyphicon-plus"></i>Add disaster</a>
                        </li>
                        <li>
                            <a href="/generatereports">Generate Reports</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>


        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header"> Hello
                            <%= myname %>. Welcome to your Dashboard</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>

                <!-- <div class="w3-content w3-section" style="max-width:1200px"> -->
                <!-- <div class="w3-content w3-section" item-width="600" item-height="300">
                    <img class="mySlides w3-animate-fading" src="image3.jpg" style="width:100%">
                    <img class="mySlides w3-animate-fading" src="image2.jpg" style="width:100%">
                    <img class="mySlides w3-animate-fading" src="image1.jpg" style="width:100%">
                    <img class="mySlides w3-animate-fading" src="image1.jpg" style="width:100%">
                </div> -->
                <h1 align="center">
                        <b>Emergency Operations Center</b>
                    </h1>
                <div class="container">
                    <div class="col-xs-12">
                        <MARQUEE WIDTH=900 HEIGHT=200>
                                <!-- <MARQUEE style="max-width:100%" HEIGHT=200> -->
                                <img width="600" height="300" id="image1" src="https://www.emsworld.com/sites/default/files/styles/large/public/files/base/image/EMSR/2013/09/noble-eoc1_11177657.png?itok=lcKJQptD"></img>
                                <img width="600" height="300" id="image2" src="https://www.emsworld.com/sites/default/files/styles/large/public/files/base/image/EMSR/2013/09/noble-eoc2_11177658.png?itok=lvy8OFSn"></img>
                                <img width="600" height="300" id="image3" src="https://www.emsworld.com/sites/default/files/styles/large/public/files/base/image/EMSR/2013/09/noble-eoc3_11177659.png?itok=_7E5jvuG"></img>     
                                <img width="600" height="300" id="image4" src="https://www.emsworld.com/sites/default/files/styles/large/public/files/base/image/EMSR/2013/09/noble-eoc4_11177660.png?itok=OWuR_84k"></img>
                                <!-- <img width="200" height="200" id="image5"></img> -->
                        </MARQUEE>
                    </div>
                </div> 

                <!-- <h1>
                    <b>Emergency Operations Center</b>
                </h1> -->
                <div class="container">
                    <!-- <div class="container-fluid"> -->
                        <!-- <blockquote> -->
                                <p class="col-xs-12"> An emergency operations center (EOC) is a central command and control facility responsible for carrying out the principles of<br> emergency preparedness and emergency management, or disaster management functions at a strategic level during an <br>emergency, and ensuring the continuity of operation of a company, political subdivision or other organization.</p>

                                <p class="col-xs-12">An EOC is responsible for strategic direction and operational decisions and does not normally directly control field assets, <br>instead leaving tactical decisions to lower commands. The common functions of EOCs is to collect, gather and analyze data; <br>make decisions that protect life and property, maintain continuity of the organization, within the scope of applicable laws; and <br>disseminate those decisions to all concerned agencies and individuals</p>
                        <!-- </blockquote> -->
                    <!-- <blockquote> -->
                        <p class="col-xs-12">The Emergency Operations Center (EOC) serves as EPA's emergency response operational focal point.
                            It is a communication <br>and coordination hub designed to increase data management and coordination
                            capabilities. The EOC provides support for<br> Watch Officer communications, communications with
                            the US Department of Homeland Security and other federal agencies, <br>and links to regional and
                            field assets.</p>
                    <!-- </blockquote> -->


                    <!-- </div> -->
                </div>
                <script>
                    var myIndex = 0;
                    carousel();

                    function carousel() {
                        var i;
                        var x = document.getElementsByClassName("mySlides");
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = "none";
                        }
                        myIndex++;
                        if (myIndex > x.length) {
                            myIndex = 1
                        }
                        x[myIndex - 1].style.display = "block";
                        setTimeout(carousel, 4000); // Change image every 2 seconds
                    }
                </script>
                <!-- <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Disaster Type</th>
                            <th>Disaster ID</th>
                            <th>Contact Person</th>
                            <th>Location</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Earthquake</td>
                            <td>11211</td>
                            <td>John Mathew</td>
                            <td>Florida</td>
                            <td>-72.6455</td>
                            <td>68.6464</td>
                            <td>28-July-2017</td>
                            <td>12:00 pm</td>
                            <td>Pending</td>
                            <td><button type="button" class="btn btn-primary">View</button></td>

                        </tr>
                        <tr>
                            <td>Floods</td>
                            <td>11212</td>
                            <td>Anthony Higgines</td>
                            <td>Miami</td>
                            <td>-75.877</td>
                            <td>73.9843</td>
                            <td>02-Aug-2017</td>
                            <td>02:00 pm</td>
                            <td>Pending</td>
                            <td><button type="button" class="btn btn-primary">View</button></td>
                        </tr>
                        <tr>
                            <td>Fire</td>
                            <td>11216</td>
                            <td>Mike Tyson</td>
                            <td>Death Valley</td>
                            <td>-86.783</td>
                            <td>63.9574</td>
                            <td>04-Aug-2017</td>
                            <td>04:00 pm</td>
                            <td>Pending</td>
                            <td><button type="button" class="btn btn-primary">View</button></td>
                        </tr>
                        <tr>
                            <td>Cyclone</td>
                            <td>11218</td>
                            <td>Undertaker</td>
                            <td>California</td>
                            <td>67.987</td>
                            <td>64.8767</td>
                            <td>07-Aug-2017</td>
                            <td>03:00 am</td>
                            <td>Pending</td>
                            <td><button type="button" class="btn btn-primary">View</button></td>
                        </tr>
                    </tbody>
                </table> -->

                <!-- end of table -->



            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->



    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="css/css/sb-admin-2.js"></script>

</body>

</html>