<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!DOCTYPE html>
    <html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Emergency Disaster Management</title>

        <!-- Bootstrap Core CSS -->
        <link href="css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="css/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/css/sb-admin-2.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
        <!-- jquery script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Custom Fonts -->
        <link href="css/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.2/css/select.dataTables.min.css"/> 
        <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>

        <!-- new set of links -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/plug-ins/1.10.16/pagination/ellipses.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css"></script>
        <script src="https://cdn.datatables.net/select/1.2.2/js/dataTables.select.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" ></script></script>
        <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"></script>
      
        
        <!-- <script src="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"></script> -->


    </head>

    <body>
        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                    <a class="navbar-brand" href="index.html">Emergency Disaster Management</a>
                </div>
                <!-- /.navbar-header -->

                <ul class="nav navbar-top-links navbar-right">

                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                                </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> UserName</a>
                            </li>
                            <!-- <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                                    </li> -->
                            <li class="divider"></li>
                            <li><a href="/login"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
                <!-- /.navbar-top-links -->


                <!-- end of top navigation -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">

                            <li>

                                <a href="/eocdashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                            </li>
                            <li>
                                <a href="/viewalldisasters"><i class="glyphicon glyphicon-list-alt"></i> View Disasters</a>
                            </li>
                            <li>
                                <a href="/registeradisaster"><i class="glyphicon glyphicon-plus"></i>Add A Disaster</a>
                            </li>

                            <li>
                                <a href="#">Generate Reports</a>
                            </li>

                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>

            <!-- Page Content -->
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- <h1 class="page-header">Blank</h1> -->






                            <!-- start of body content -->


                            <h3 style=text-align:center>Disaster Reports</h3>



                        </div>

                        <hr>

                        <!-- populating table -->
                        <br>


                        <div class="col-xs-10" align="center" style="margin-left: auto;
                                margin-right: auto;
                                max-width: 1000px;
                                float: none;">
                            <table border="0" cellspacing="5" cellpadding="5" align="left">
                                <tbody>
                                    <tr>
                                        <td>From Date:</td>
                                        <td><input type="datetime-local" id="min" name="min"></td>
                                    </tr>
                                    <tr>
                                        <td>To Date:</td>
                                        <td><input type="datetime-local" id="max" name="max"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-striped table-bordered" id="table" onload="CreateTableFromJSON(disastertext)">
                                <thead>
                                    <tr id="tablehead">

                                        <th>Disaster Name</th>
                                        <th>Disaster Type</th>
                                        <th class="hidden">contactPerson</th>
                                        <th>Location</th>
                                        <!-- <th>Latitude</th>
                                        <th>Longitude</th> -->
                                        <th>Date&Time</th>
                                        <!-- <th>View Disaster</th>
                                        <th>Delete Disaster</th> -->
                                        <!-- <th>Firstname</th>
                                                    <th>Lastname</th>
                                                    <th>Email</th> -->
                                    </tr>
                                </thead>
                                <tbody id="rowdata">
                                    <% for(let i=0; i<disasterdata.length;i++){ %>

                                        <tr>
                                            <td>
                                                <%= disasterdata[i].disastername %>
                                            </td>
                                            <td>
                                                <%= disasterdata[i].disasterdropdown %>
                                            </td>
                                            <td class="hidden">
                                                <%= disasterdata[i].contactperson %>
                                            </td>
                                            <td>
                                                <%= disasterdata[i].disasteraddress  %>
                                            </td>
                                            <!-- <td>
                                                <%= disasterdata[i].latitude %>
                                            </td>
                                            <td>
                                                <%= disasterdata[i].longitude %>
                                            </td> -->
                                            <td>
                                                <%= disasterdata[i].dateandtime %>
                                            </td>
                                            <!-- <% var disasterurl="/disasterpage_"+JSON.stringify(disasterdata[i].disastername); %> -->


                                            <!-- <td><button class="btn btn-primary" onclick="console.log('yupiee i got clicked');window.location.href=disasterurl;">Click Me! </button></td> -->
                                            <!-- <td><button class="btn btn-primary" onclick="console.log('yupiee i got clicked');window.location.href=disasterurl;">Click Me! </button></td> -->
                                            <!-- <form method="get"><td> <button class="btn btn-primary"><a href="/disasterpage_<%= disasterdata[i].disastername %>">View</a></button></td></form> -->
                                            <!-- <form method="get" action="/disasterpage_<%= disasterdata[i].disastername %>">
                                                <td> <button class="btn btn-primary">View</button></td>
                                            </form>
                                            <form method="get" action="/deleteadisaster_<%= disasterdata[i].disastername %>">
                                                <td><button class="btn btn-danger">Delete this</button></td>
                                            </form> -->
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>




                        <!-- Bootstrap Core JavaScript -->
                        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

                        <!-- Metis Menu Plugin JavaScript -->
                        <script src="vendor/metisMenu/metisMenu.min.js"></script>

                        <!-- Custom Theme JavaScript -->
                        <script src="css/css/sb-admin-2.js"></script>

                        <script type=text/javascript src="datatable/dtable.js"></script>


                        <!-- end of table -->



                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- /#page-wrapper -->

            </div>
            <!-- /#wrapper -->

            <!-- jQuery -->

            <!-- end of body content -->





        </div>
        <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

        </div>


    </body>

    </html>