<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Emergency Disaster Management</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="css/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/css/sb-admin-2.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">

    <!-- Custom Fonts -->
    <link href="css/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- new set of links -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.16/pagination/ellipses.js"></script>
    <!-- <script src="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"></script> -->

</head>

<body>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                <a class="navbar-brand" href="index.html">Emergency Disaster Management</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                
                              
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                            </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> UserName</a>
                        </li>
                        <!-- <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                                </li> -->
                        <li class="divider"></li>
                        <li><a href="/login"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->


            <!-- end of top navigation -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                            <li>
                                    
                                <a href="/eocdashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                                </li>
                        <!-- <li class="sidebar-search"> -->
                        <!-- <div class="input-group custom-search-form">
                                        <input type="text" class="form-control" placeholder="Search...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div> -->
                        <!-- /input-group -->
                        <!-- </li>
                                <li>
                                    <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="flot.html">Flot Charts</a>
                                        </li>
                                        <li>
                                            <a href="morris.html">Morris.js Charts</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="/viewalldisasters"><i class="glyphicon glyphicon-list-alt"></i> View Disasters</a>
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-plus"></i>Add disaster</a>
                        </li>
                        <li>
                            <a href="/generatereports"></i> Generate Reports</a>
                        </li>


                        <!-- <li>
                                    <a href="#"><i class="fa fa-edit fa-fw"></i>Delete A Disaster</a>
                                </li>
                                <li>
                                    <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
                                </li> -->


                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <!-- <div class="col-lg-12"> -->

                    <!-- start of body content -->


                    <h3 style=text-align:center>Register A Disaster</h3>

                    <!-- start of form for the frist time -->
                    <!-- <form method="post" action="/registeradisaster">

                        
                        <div class="container">
                            <div>
                                <div class="form-group col-xs-2">
                                    <%= errormessage %>
                                        <label>Disaster Type</label>

                                        <select class="form-control" name="disasterdropdown" required="">
                                                    <option value="Select">Select a disaster</option>
                                                    <option value="Earthquake">Earthquake</option>
                                                    <option value="Fire">Fire</option>
                                                    <option value="Floods">Floods</option>
                                                    <option value="Cyclone">Cyclone</option>
                                                    <option value="Hurricane">Hurricane</option>
                                            </select>
                                </div>
                                <div class="form-group col-xs-2">
                                    <label>DisasterName</label>
                                    <input type="text" name="disastername" class="form-control" id="disastername" placeholder="name of the disaster">
                                </div>
                               <div class="form-group col-xs-2">
                                            <label>Contact Person</label>
                                            <input type="text" name="contactperson" class="form-control" id="contactperson" placeholder="Assigned To">
                                        </div> 
                                <div class="form-group col-xs-2">
                                    <label>Location</label>
                                    <input type="text" name="location" class="form-control" id="location" placeholder="location of the disaster" required="">
                                </div>
                                <div class="form-group col-xs-2">
                                    <label>Latitude</label>
                                    <input type="text" name="latitude" class="form-control" id="latitude" placeholder="latitude of the disaster" required="">
                                </div>

                               </div> 
                                <div class="form-group col-xs-2">
                                    <label>Longitude</label>
                                    <input type="text" name="longitude" class="form-control" id="longitude" placeholder="longitude of the disaster" required="">
                                </div>

                                <div class="form-group col-xs-2">
                                    <label>Disaster Date and Time: </label>
                                   <input id="date" type="date" value="2017-10-05" />

                                    <input type="datetime-local" name="dateandtime" required="">
                                </div>

                                <div class="input-group date" data-provide="datepicker">
                                            <input type="text" class="form-control">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>
                                        </div> 
                                &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                                 <div>asdf
                                    </div> 
                                </div>
                                <div class="form-group col-xs-2" align="center">
                                   <label>Click to submit </label>
                                    <button style=text-align:center;margin:auto type="submit" class="btn btn-lg btn-success">Submit</button>

                                </div>
                            </div>

                            <br>
                             <div class="form-group col-xs-2">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div> 
                           

                    </form> -->
<!-- end of form for the first time -->
                    

                    <br>

                    </div>
                    <div style="text-align:center; background-color:#49E949; color:black">
                        <%= message %></div>
                    <br>
                    <hr>
                    <!-- <center>jafj</center> -->


                    <!-- <% var disastertext; %> -->
                    
                    <form method="post" action="/registeradisaster">

                        <div class="col-xs-12">
                            <div class="col-xs-4">
                                <label class="col-xs-8">Disaster Type: </label>
                                <input class="form-control col-xs-6" type="text" name="disasterdropdown" class="form-control" id="disasterdropdown" placeholder="type of the disaster">
                            </div>
                            &nbsp &nbsp&nbsp&nbsp&nbsp
                            <div class="col-xs-4">
                                <label class="col-xs-8">Disaster Name</label>
                                <input class="form-control col-xs-6" type="text" name="disastername" class="form-control" id="disastername" placeholder="name of the disaster">
                            </div>

                        </div>
                        <br><br><br>
                        <br>
                        <div class="col-xs-12">

                            <div class="col-xs-4">
                                <label class="col-xs-8">Detailed Address:</label>
                                <input class="form-control col-xs-6" type="text" name="disasteraddress" class="form-control" id="disastername" placeholder="detailed address of the disaster">
                            </div>
                            &nbsp &nbsp&nbsp&nbsp&nbsp
                            <div class="col-xs-4">
                                <label class="col-xs-8">City</label>
                                <input class="form-control col-xs-6" type="text" name="disastercity" class="form-control" id="disastercity" placeholder="City of the disaster">
                            </div>
                        </div>
                        <br><br><br><br>
                        <div class="col-xs-12">

                            <div class="col-xs-4">
                                <label class="col-xs-8">State</label>
                                <input class="form-control col-xs-6" type="text" name="state" class="form-control" id="latitude" placeholder="State of the disaster">
                            </div>
                            &nbsp &nbsp&nbsp&nbsp&nbsp
                            <div class="col-xs-4">
                                <label class="col-xs-8">ZipCode</label>
                                <input class="form-control col-xs-6" type="text" name="zipcode" class="form-control" id="longitude" placeholder="ZipCode of the disaster">
                            </div>
                        </div>
                        <br><br><br><br>
                        <div class="col-xs-12">

                            <div class="col-xs-4">
                                <label class="col-xs-8">Responsible Person</label>
                                <input class="form-control col-xs-6" type="text" name="contactperson" class="form-control" id="contactperson" placeholder="Responsible Person">
                            </div>
                            &nbsp &nbsp&nbsp&nbsp&nbsp
                            <div class="col-xs-4">
                                <label>Disaster Date and Time: </label>
                                <!-- <input id="date" type="date" value="2017-10-05" /> -->

                                <input type="datetime-local" name="dateandtime" required="">
                            </div>
                        </div>
                        <br><br><br>
                        <div class="form-group col-xs-2" align="center">
                            <br><br>
                            <!-- <label>Click to submit </label> -->
                            <button style=text-align:center;margin:auto type="submit" class="btn btn-lg btn-success">Submit</button>
                        </div>

                    </form>

                   
                    
                </div>
            </div>
            
            
           

            <!-- <table class="table table-bordered">
                            <% for(let i=0; i<disasterdata.length;i++){ %>
                                <tr>
                                    <td><%= disasterdata[i] %></td>
                                    <td><%= disasterdata[i].location %></td>
                                </tr>
                            <% } %>
                            </table> -->

            <!-- jQuery -->

            <!-- <script src="vendor/jquery/jquery.min.js"></script> -->

            <!-- Bootstrap Core JavaScript -->
            <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

            <!-- Metis Menu Plugin JavaScript -->
            <script src="vendor/metisMenu/metisMenu.min.js"></script>

            <!-- Custom Theme JavaScript -->
            <script src="css/css/sb-admin-2.js"></script>

            <!-- <script type=text/javascript src="datatable/dtable.js"></script> -->


            <!-- end of table -->



        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->

    <!-- end of body content -->





    </div>
    <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/sb-admin-2.js"></script>

</body>

</html>